#root {
  max-width: 1280px;
  text-align: center;
  width: 100%;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

input {
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  background-color: aliceblue;
  width: 100vw;
}

.header-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
}

.header h1 {
  margin: 0;
  padding: 1rem;
}

button {
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #d0cccc;
  background-color: #80e1e0;
  cursor: pointer;
}

.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 25em;
}

.movie-card img {
  width: 100%;
  max-width: 200px;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.movie-card h2 {
  margin-bottom: 0.5rem;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 2rem;
  width: 100%;
}

.movie-container {
  width: 100%;
  height: auto;
}

.movie-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 25em;
}

.header-nav li {
  list-style: none;
  margin: 0.5rem auto;
  cursor: pointer;
}